<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/d75b307c-178d-43a8-91e7-9e9f3a5da758/resourceGroups/ASPnetCore/providers/Microsoft.Web/sites/hc-netcore-api</ResourceId>
    <ResourceGroup>ASPnetCore</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://hc-netcore-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>hc-netcore-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>hc-netcore-api</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$hc-netcore-api</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>